.contactform{
    display: flex;
  }
  
  input{
    margin-bottom: 5px;
    border: 1px solid #d8d8d8;
    padding: 3px;
  }
  label{
    padding-left: 10px;
  }
  textarea{
    border: 1px solid #d8d8d8;
    padding: 3px;
  }
  
  button{
    padding: 10px;
    border: 1px solid #d8d8d8;
    background-color: #f9f9f9;
    border-radius: 3px;
    margin-left: 10px;
  }
  
  .error{
  
    font-size: 13px;
    color: red;
  }